<footer class="page-footer font-small bg-light pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-primary">Siga-nos nas redes sociais!</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/dany.arantes.1/" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/arantesd/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/daniela-arantes-2170b3111/" target="_blank"
                            class="icoLinkedIn">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-light text-center py-3">
        <span class="text-dark">© 2021 Copyright: </span>
        <a href="text-dark" target="_blank" href="https://brasil.generation.org">brasil.generation.org</a>
    </div>

</footer>